/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #24273a; /* Base */
    color: #cad3f5; /* Text */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #363a4f; /* Surface 0 */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #8aadf4; /* Blue */
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #7dc4e4; /* Sapphire */
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    color: #a6da95; /* Green */
    font-size: 18px;
    margin-bottom: 10px;
}

/* Input Styles */
input[type="text"] {
    padding: 10px;
    border: 1px solid #b8c0e0; /* Subtext 1 */
    border-radius: 8px;
    width: calc(100% - 22px);
    font-size: 16px;
    background-color: #494d64; /* Surface 1 */
    color: #cad3f5; /* Text */
}

/* Button Styles */
button {
    background-color: #eed49f; /* Yellow */
    color: #363a4f; /* Surface 0 */
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #e1e2e9; /* Subtext 0 */
}

/* Specific Button Styles */
.clear-remove {
    background-color: #ed8796; /* Red */
    color: #ffffff;
}

.clear-remove:hover {
    background-color: #ed8796; /* Red */
}

.icon-button {
    background-color: #f0c6c6; /* Flamingo */
    color: #363a4f; /* Surface 0 */
}

.icon-button:hover {
    background-color: #f5bde6; /* Pink */
}

/* Button Group */
.button-group {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

/* Additional Styles */
ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}
